.app {
  height: 100%;
  overflow: visible;
  /*overflow: auto;*/
  position: relative;

  .pointer {
    cursor: pointer;
  }

  .move {
    text-align: center;
    color: white;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #383e46;
    background-attachment: fixed;
    position: relative;
    -webkit-transition: background-image 1s, background-position 1s;
    transition: background-image 1s, background-position 1s;
  }

  img {
    max-width: 100%;
  }

  .navbar {
    background: rgba(0, 0, 0, 0.75);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;

    button {
      border-color: transparent;
      box-shadow: none;

      &:focus,
      &:hover,
      &:active {
        border-color: transparent;
        box-shadow: none;
        outline: 0;
      }

      i {
        color: #fff;
      }
    }

    .navbar-brand {
      font-weight: 800;
      font-size: 27px;
      padding: 0;
      margin: 0;
      position: relative;
      top: 3px;

      img {
        height: 55px;
      }
    }

    .navbar-nav {
      padding: 10px;

      .nav-item {
        margin: 0 10px;

        a {
          font-weight: 500;
          color: #fff;
        }

        &.active {
          a {
            color: #9dccff;
          }
        }
      }
    }

    .collapse.in {
      display: block;
    }
  }

  .page {
    padding-top: 100px;

    h5 {
      a {
        color: #333;
        text-decoration: none;
      }
    }

    .ready {
      text-align: center;
      padding: 100px 0;
    }

    .gallery {
      a {
        display: block;
        padding: 5px;
        position: relative;

        > .wrapper {
          background-repeat: no-repeat;
          background-size: auto 100%;
          display: inline-block;
          width: 100%;
          background-position: 50% 50%;
          position: relative;
          border: 1px solid #ddd;

          &:hover {
            .cover {
              display: inline-block;
            }
          }

          .cover {
            height: 100%;
            width: 100%;
            display: none;
            position: absolute;
            left: 0;
            top: 0;
            background-color: rgba(0, 0, 0, 0.5);

            i {
              position: absolute;
              left: 50%;
              top: 50%;
              margin-top: -20px;
              margin-left: -20px;
              color: #fff;
              font-size: 40px;
            }
          }

          img {
            width: 100%;
          }
        }
      }

      .row {
        > div {
          margin-bottom: 15px;

          > div {
            font-size: 16px;
            margin: 7px 0;
            font-weight: 600;
            text-align: center;
          }
        }
      }
    }
  }

  footer {
    display: none;
  }

  &[v-cloak] {
    display: none;
  }
}

@media (max-width: 767px) {
  .app {
    /*.move {
      background-size: auto 100%;
    }*/

    .page {
      padding-top: 85px;
    }

    .navbar .navbar-nav {
      padding: 10px 0;

      .nav-item {
        margin: 0;
      }
    }

    .page.lookbook .gallery ul li > a > img {
      width: 100%;
    }
  }
}
